<a href="https://colab.research.google.com/github/Priscilla-c179/python_data-science/blob/main/function_return_values.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Welcome to our third Lab Practice!

This lab is all about defining functions with return values. Are you ready? Let's get started!

You will find some small tasks in sections below. After defining functions, call them to test.

## Define functions with return numeric values.

###Task: define a function that return the absolute value of *n*, where *n* is a parameter

In [ ]:
def absolute_value(n):
  if n < 0 :
    return -n
  else:
    return n
absolute_value(7)

7

###Task: define a function that return the product value of *n* and *m*, where *n, m* are parameters

In [ ]:
def product_value(n,m):
  return(m*n)
product_value(9,7)

63

###Task: define a function that return the result of raise *n* to the power of *m*, where *n, m* are parameters

In [ ]:
def raise_power(n,m):
  return(n**m)
raise_power(24,6)

191102976

###Task: define a function that return the average of three numbers, *x, y, z*, where *x, y, z* are parameters

In [ ]:
def average_three(x,y,z):
  return((x+y+z)/3)
average_three(8,5,9)

7.333333333333333

###Task: define a function that return the minimal of three numbers, *x, y, z*, where *x, y, z* are parameters

In [ ]:
def mini_three(x,y,z):
  return(min(x,y,z))
mini_three(3,7,1)

1

## Define functions with return str values.

###Task: define a function that print sum of integers 1 to *n* (hint: you can use a for loop), where *n* is a parameter

In [20]:
def sum_of_intgers(n):
  sum=0
  for i in range(1,n+1):
      sum+= i
      print('sum  from 1 to:', n, 'is:',sum)

sum_of_intgers(12)

sum  from 1 to: 12 is: 1
sum  from 1 to: 12 is: 3
sum  from 1 to: 12 is: 6
sum  from 1 to: 12 is: 10
sum  from 1 to: 12 is: 15
sum  from 1 to: 12 is: 21
sum  from 1 to: 12 is: 28
sum  from 1 to: 12 is: 36
sum  from 1 to: 12 is: 45
sum  from 1 to: 12 is: 55
sum  from 1 to: 12 is: 66
sum  from 1 to: 12 is: 78

In [23]:
#return sum of integers 1 to n
def sum_of_intgers(n):
  sum=0
  for i in range(1,n+1):
      sum+= i
  return sum
sum_of_intgers(12)

78

###Task: define a function that return "hello, *name*" where *name* is a parameter

In [30]:
def greetings(name):
  return 'Hello,' + name
greetings('AuthorisPriscilla')

'Hello,AuthorisPriscilla'

###Task: define a function that return "hello world" *n* times, where *n* is a parameter

In [36]:
def greeting_to_world(n):
  return 'Hello,World \n'* n
greeting_to_world(4)

'Hello,World \nHello,World \nHello,World \nHello,World \n'

In [37]:
def greeting_to_world(n):
  print('Hello,World \n'* n )
greeting_to_world(4)

Hello,World
Hello,World
Hello,World
Hello,World

###Task: define a function that concatenate message 1 and message 2 together and return it

In [38]:
def conc_msg(message1,message2):
  return message1 +message2
conc_msg('Brilliant','Idea')

'BrilliantIdea'

## Define functions with return boolean values.

###Task: define a function that return the boolean value for given *n* is even or not, *n* is a parameter

In [58]:
def num_is_even(n):
    if n % 2 == 0:
      return 'it is even'
    else:
      return 'it is not even'
num_is_even(8)

'it is even'

###Task: define a function that return the boolean value for given *n* is odd or not, *n* is a parameter

In [59]:
def num_is_odd(n):
  for i in range(n):
    if i %2!=0:
      return 'it is odd'
    else:
        return 'it is not odd'
num_is_odd(8)

'it is not odd'

###Task: define a function that return the boolean value for given *n* is prime number or not, *n* is a parameter

In [61]:
def num_prime(n):
  if n%2==0:
    return 'it is Prime number'
  else:
    return 'it is not a Prime number'

num_prime(20)

'it is Prime number'

###Task: define a function that return the boolean value for given *n* is positive (>0) or not, *n* is a parameter

In [62]:
def num_positiv(n):
  if n>0:
    return 'num is positive'
  else:
    return 'num is negative'
num_positiv(1.9)

'num is positive'

###Task: define a function that return the boolean value for whether or not given *n* is divisible by 6, *n* is a parameter

In [63]:
def num_is_divisible(n):
  if n % 6==0:
    return 'num is divisible by 6'
  else:
    return 'num is not divisible by 6'
num_is_divisible(24)

'num is divisible by 6'

## Define functions return multiple values.

###Task: define a function that return the min, max, avg, and total of given 3 numbers *x, y, z*, where *x, y, z* are parameters

In [75]:
def multi_values(x,y,z):
  return min(x,y,z), max(x,y,z), 'average',(x+y+z)/3,'total',(x+y+z)

multi_values(4,9,6)

(4, 9, 'average', 6.333333333333333, 'total', 19)