<a href="https://colab.research.google.com/github/Priscilla-c179/python_data-science/blob/main/functionmultiparameters.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Welcome to our Lab Practice! : Priscilla Wanjiru

This lab is all about defining functions with multiple parameters. Are you ready? Let's go!

You will find some small tasks in sections below. After defining functions, call them to test.

###Task: define a function that print "*message*" *n* times, where *message* and *n* are parameters

In [19]:
def print_msg(message,n):
  print([message] * n)

print_msg('Am grateful',4)

['Am grateful', 'Am grateful', 'Am grateful', 'Am grateful']

In [11]:
# use of _ instead of i

def print_message(message, n):
  for _ in range(n):
    print(message)
print_message("God is able" ,4)

God is able
God is able
God is able
God is able

###Task: define a function that print integers *n*  to *m* (hint: you can use a for loop), where *n* and *m* are parameters, and *n < m*.

Challenge: Can you write a program that doesn't require *n < m*?

In [21]:
def print_integers(n,m):
  for _ in range(n, m+1):
    print(_)
print_integers(4,8)

4
5
6
7
8

###Task: define a function that print the sum of *n*  to *m*, where *n, m* are parameters, and *n* < *m*.

In [31]:
def print_sums(n,m):
  sum=0
  for _ in range(n, m+1):
    sum+=_
  print('sum from', n ,'to', m ,'is: ', sum)
print_sums(2,10)

sum from 2 to 10 is:  54

###Task: define a function that print the AND logical operation of *condition1* and *condition 2*, where *condition1, condition2* are parameters.

In [38]:
def  and_logic(condition1, condition2):
  print(condition1 and condition2)
and_logic(True, False)
and_logic(True,True)

False
True

In [ ]:
# your code will be here

###Task: define a function that print if *n* is dividible by *m*, where *n, m* are parameters.

In [36]:
def divide_function(n,m):
  if n % m  == 0:
     print('n is dividible by m')
  else:
    print('n is not dividible by m')
divide_function(19,3)

n is not dividible by m

###Task: define a function that print the minimal number from *x, y, z*, where *x, y, z* are parameters

In [37]:
def min_num(x,y,z):
  print('minimal number is:' ,min(x,y,z))

min_num(90,13.2,10)

minimal number is: 10