<a href="https://colab.research.google.com/github/Priscilla-c179/python_data-science/blob/main/M4Lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Welcome to our Lab Practice!

This lab is about repetition - for loops. Are you ready? Let's get started!

You will find some small tasks in sections below.

###Task: Print all even numbers within 20

In [2]:
for i in range (20):
  if i%2==0:
    print(i)

0
2
4
6
8
10
12
14
16
18

### Task: Print all numbers dividble by 5 within 100

In [7]:
for i in range(0,101,5):
  print(i)

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

###Task: Print all integers from -5 to 5.

In [9]:
for i in range(-5,6):
  print(i)

-5
-4
-3
-2
-1
0
1
2
3
4
5

###Task: Print all integers of an interval given by the user

Ask the user to enter two integers and print all integers between (including) them.

In [12]:
n=int(input("Enter the first integer"))
n1=int(input("Enter the second integer"))
for i in range(n,n1 +1):
  print(i)

Enter the first integer2
Enter the second integer10
2
3
4
5
6
7
8
9
10