<a href="https://colab.research.google.com/github/Priscilla-c179/python_data-science/blob/main/M2Lab3Relational_operation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Welcome to our Lab Practice!


This lab is about logical and relational operations. Are you ready? Let's get started!

You will find some small tasks in sections below.

## Relational Operation

In this section, you are going to code and run relational operations of two numbers.

Hint: to print out the comparison, we can use the print() to print multiple values out.

For example, `print(x, 'operator', y, 'is', x operator y)` for an operator.

###Task: Get some comparisons.

1.   Assign x with 2, y with 3.
2.   print out the comparison and result of
  1.   x > y
  2.   x >= y
  3.   x == y
  4.   x <= y
  5.   x < y
  6.   x != y

In [3]:
# type your code here
x=2
y=3
print(x, '>', y, 'is', x > y)
print(x, '>=', y, 'is', x >= y)
print(x, '==', y, 'is', x <= y)
print(x, '<=', y, 'is', x <= y)
print(x, '<', y, 'is', x < y)
print(x, '!=', y, 'is', x != y)

2 > 3 is False
2 >= 3 is False
2 == 3 is True
2 <= 3 is True
2 < 3 is True
2 != 3 is True

###Task: More comparisons

1.   Ask the user to enter an integer, convert and assign it to x;
2.   Ask the user to enter another integer, convert and assign it to y;
3.   print out the comparison and result of
  1.   x > y
  2.   x >= y
  3.   x == y
  4.   x <= y
  5.   x < y
  6.   x != y

In [8]:
# type your code here
x=int(input('Enter an integer: '))
print('you entered:', x)
y=int(input('Enter an integer: '))
print('you entered: ', y)

print(x, '>', y, 'is', x > y)
print(x, '>=', y, 'is', x >= y)
print(x, '==', y, 'is', x == y)
print(x, '<=', y, 'is', x <= y)
print(x, '<', y, 'is', x < y)
print(x, '!=', y, 'is', x != y)

Enter an integer: 4
you entered: 4
Enter an integer: 6
you entered:  6
4 > 6 is False
4 >= 6 is False
4 == 6 is False
4 <= 6 is True
4 < 6 is True
4 != 6 is True

## Logical Operation

In this section, you are going to code and run logical operations of two numbers.

Hint: to print out the equation, we can use the print() to print multiple values out.

For example, `print(x, 'operator', y, 'is', x operator y)` for an operator.

###Task: Get some computation.

1.   Assign x with True, y with False.
2.   print out the computation and result of
  1.   x and x
  2.   x and y
  3.   y and x
  4.   y and y
  5.   x or x
  6.   x or y
  7.   y or x
  8.   y or y
  9.   not x
  10.   not y

In [11]:
# type your code here
x=True
y=False

print(x, 'and', x, 'is', x and x)
print(x, 'and', y, 'is', x and y)
print(y, 'and', x, 'is', y and x)
print(y, 'and', y, 'is', y and y)
print(x, 'or', x, 'is', x or x)
print(x, 'or', y, 'is', x or y)
print(y, 'or', x, 'is', y or x)
print(y, 'or', y, 'is', y or y)
print("not x =", not x)
print('not y =', not y)

True and True is True
True and False is False
False and True is False
False and False is False
True or True is True
True or False is True
False or True is True
False or False is False
not x = False
not y = True